{% extends 'base.html' %}

{% block title %}PeliQuest: El algoritmo cinéfilo{% endblock %}

{% block content %}
<style>
/* Animación flotante */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-14px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Estilo global para el fondo */
body {
    background-color: #b59a7d;
    margin: 0;
    height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para organizar los elementos verticalmente */
}

/* Estilo del título */
.title {
    font-family: 'Cinematica', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #1d242e;
    margin-top: 5px;
    text-align: center;
}

/* Estilo de la imagen con animación */
.logo img {
    animation: float 2s ease-in-out infinite;
    width: 200px;
    height: auto;
}

/* Centrado del contenido */
.container {
    text-align: center;
}

</style>

<!-- Título en fuente especial -->
<div class="title">
    PeliQuest
</div>

<div class="container">
    <!-- Imagen del logo con animación flotante -->
    <div class="logo mb-4">
        <img src="{{ url_for('static', filename='pixelart_logo.png') }}" alt="Logo PeliQuest" class="img-fluid">
    </div>

    <!-- Slogan -->
    <p class="slogan mt-4" style="font-size: 28px; color: #1d242e;">
        <i>Tu aliado experto en encontrar películas.</i>
    </p>

    <!-- Botón -->
    <div class="mt-3">
        <a href="https://forms.gle/6Viq6LLRmiXtD1Cu6" class="btn btn-lg px-5" style="background-color: #1d242e; color: white; border-radius: 25px;">
            ¡Empecemos!
        </a>
    </div>
</div>
{% endblock %}





